const admins = {
  '管理1': ['邮箱1@gmail.com', '邮箱2@qq.com'],
} as const;

const members = {
  '成员1': ['成员1@163.com'],
  '成员2': ['成员2@126.com'],
  // '': [''],
} as const;

// must assign default, ideally here.
const nonMembers = {
  '未知': ['default'], // do not touch
} as const;

export { admins, members, nonMembers };
